.sign-in {
	color: #d9534f;
}

.sign-up {
	color: #449d44;
}

.img-margin {
	margin: 30px 0;
}

a:hover {
	opacity:0.7;
    color: white;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.number {
    position: absolute;
}

h2 {
	margin: 0 0;
}

hr {
	margin: 30px 0 0 0;
}

/*
.first-container {
	background: #f1f441;
}

.second-container {
	background: #29bc2b;
}

.last {
	background: #f44941;
}*/
